{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "l8_compression": "no",
    "rgb_compression": "no",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "controlCenter_iamge\\wurao_pressed.png": {
        "format": "L8_RGB565",
        "extra_section": "IntFlashSection",
        "l8_compression": "yes"
      },
      "controlCenter_iamge\\naozhong_pressed.png": {
        "format": "L8_RGB565",
        "extra_section": "IntFlashSection",
        "l8_compression": "yes"
      },
      "controlCenter_iamge\\taiwan.png": {
        "format": "L8_RGB565",
        "extra_section": "IntFlashSection",
        "l8_compression": "yes"
      },
      "controlCenter_iamge\\taiwan_pressed.png": {
        "format": "L8_RGB565",
        "extra_section": "IntFlashSection",
        "l8_compression": "yes"
      },
      "controlCenter_iamge\\miaobiao.png": {
        "format": "L8_RGB565",
        "extra_section": "IntFlashSection",
        "l8_compression": "yes"
      },
      "controlCenter_iamge\\jishi_pressed.png": {
        "format": "L8_RGB565",
        "extra_section": "IntFlashSection",
        "l8_compression": "yes"
      },
      "controlCenter_iamge\\wurao.png": {
        "format": "L8_RGB565",
        "extra_section": "IntFlashSection",
        "l8_compression": "yes"
      },
      "controlCenter_iamge\\jishi.png": {
        "format": "L8_RGB565",
        "extra_section": "IntFlashSection",
        "l8_compression": "yes"
      },
      "controlCenter_iamge\\miaobiao_pressed.png": {
        "format": "L8_RGB565",
        "extra_section": "IntFlashSection",
        "l8_compression": "yes"
      },
      "controlCenter_iamge\\shezhi.png": {
        "format": "L8_RGB565",
        "extra_section": "IntFlashSection",
        "l8_compression": "yes"
      },
      "controlCenter_iamge\\liangdu.png": {
        "format": "L8_RGB565",
        "extra_section": "IntFlashSection",
        "l8_compression": "yes"
      },
      "controlCenter_iamge\\naozhong.png": {
        "format": "L8_RGB565",
        "extra_section": "IntFlashSection",
        "l8_compression": "yes"
      },
      "controlCenter_iamge\\fore_pressed.png": {
        "format": "L8_RGB565",
        "l8_compression": "yes"
      },
      "mianImage.png": {
        "format": "RGB565",
        "l8_compression": "yes",
        "rgb_compression": "yes"
      },
      "controlCenter_iamge\\fore.png": {
        "format": "L8_RGB565",
        "l8_compression": "yes"
      },
      "controlCenter_iamge\\zhendong.png": {
        "format": "L8_RGB565",
        "extra_section": "IntFlashSection",
        "l8_compression": "yes"
      },
      "controlCenter_iamge\\zhendong_pressed.png": {
        "format": "L8_RGB565",
        "extra_section": "IntFlashSection",
        "l8_compression": "yes"
      },
      "controlCenter_iamge\\shezhi_pressed.png": {
        "format": "L8_RGB565",
        "extra_section": "IntFlashSection",
        "l8_compression": "yes"
      },
      "controlCenter_iamge\\liangdu_pressed.png": {
        "format": "L8_RGB565",
        "extra_section": "IntFlashSection",
        "l8_compression": "yes"
      },
      "__generated\\alternate_theme_images_widgets_swipecontainer_medium_off_normal.png": {
        "format": "L8_ARGB8888",
        "l8_compression": "yes"
      },
      "__generated\\alternate_theme_images_widgets_swipecontainer_medium_on_active.png": {
        "format": "L8_ARGB8888",
        "l8_compression": "yes"
      }
    }
  },
  "text_configuration": {
    "cache_size": 4096,
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0",
    "copy_translations_to_ram": "no"
  }
}